@font-face {
    font-family: 'TheSansArabic';
    src: url('../../public/assets/fonts/TheSansArabic-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');